* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: lightgray;
}

#root {
  height: 100%;
  min-height: 100%;
	display: flex;
	flex-direction: column;
}

.lre-theme-app {
  display: flex;
  flex-direction: row;
}

.tool-box {
  flex-grow: 1;
  border-right:  ridge 3px purple;
}

.player-preview {
  flex-grow: 4;
}

.player-preview>.player-stage{
  display: block;
  margin: 0 auto;
  width: 680px;
}

.player-preview>.player-stage>#ac-lre-player {
  font: 13px;
}